.clients {
  @extend %container;

  &__title {
    @extend %section-title;
  }

  &__list {
    @extend %list;
    display: flex;
    gap: 30px;
  }

  &__link {
    @extend %link;
    display: flex;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid $icons-color;
    border-radius: 4px;
    color: $icons-color;
    transition: border $animation-time $animation-function,
      color $animation-time $animation-function;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid $accent-color;
  }

  &__icon {
    @extend %icon;
    width: 106px;
    transition: fill var(--animation-time) var(--animation-function);
  }
}
