.email-form {
  display: flex;
  gap: 12px;

  &__mailing {
    flex-grow: 1;
    border: 1px solid $email-border-color;
    border-radius: 4px;
    padding: 15px 16px;
    font-size: 16px;
    color: $footer-txt-color;
    background-color: transparent;
  }

  &__mailing::placeholder {
    color: $footer-txt-color;
  }

  &__send {
    @extend %btn;
    display: flex;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    @extend %icon;
    width: 24px;
    height: 24px;
  }
}
