.logo {
  @extend %link;
  font-family: $txt-releway, $txt-sans;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;

  &__inner {
    color: $logo-nav-color;
  }

  &__inner--white {
    color: $prim-bg-color;
  }

  .site-nav & {
    padding: 24px 0 25px;
  }

  .footer-contacts & {
    display: block;
    width: 145px;
    margin-bottom: 20px;
  }
}
